@charset "UTF-8";
/*
@import url(reset.css);
@import url(global.css);
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --cor01: #B9001F;
}

*{
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    list-style: none;
    border: 0px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

body{
    background-color: var(--cor01);
    font-family: "Poppins", Arial, sans-serif;
}

body::before{
    content: "";
    background: url(../images/spider-man-background.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    transition: opacity .5s ease-in-out;
    
    
}

.menu{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.menu__item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.menu__icon{
    width: 2.5rem;
    margin: 0 1.25rem;
    display: inline-block;
    vertical-align: middle;
}

.conteiner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    perspective: 3000px;
}

.card{
    border: 0.5rem solid white;
    width: calc(100% / 3 - 12%);
    height: 60vh;
    position: relative;
    transition: filter .5s ease-in-out;
    
}

.card__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.card__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    transition: .5s ease-in-out;
    
}

.card__title{
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    transition: bottom .5s ease-in-out;
}

.controlador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    bottom: 1.5rem;
}

.controle__botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    background-color: var(--cor01
    );
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.controle__botao:nth-child(2){
    margin: 0 2rem;
}

.controle__botao:hover{
    transform: scale(1.1);
}

.controle__linha{
    background-color: white;
    width: 50%;
    height: 2px;
    position: absolute;
}

/*Animação*/

.card--hovered .card__background{
    cursor: pointer;
    opacity: 0;
}

.card--hovered .card__image{
    transform: scale(1.3);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.411));
}

body#spider-01-hovered::before{
    background: url(../images/pic-sm-bg-01.jpg) no-repeat center;
    background-size: cover;
    
}

body#spider-02-hovered::before{
    background: url(../images/pic-sm-bg-02.jpg) no-repeat center;
    background-size: cover;
    
}

body#spider-03-hovered::before{
    background: url(../images/pic-sm-bg-03.jpg) no-repeat center;
    background-size: cover;
    
}

body[id^="spider-"]::before{
    opacity: 1;
}  

body[id^="spider-"] .card:not(.card--hovered) {
    filter: grayscale(100%);
}

.card--hovered .card__title{
    bottom: 50%;
}